<div class="flex justify-center">
	<form
		class="padding-4"
		style="width: 500px; max-width: 100%"
		[formGroup]="form"
		(ngSubmit)="submit()"
	>
		<div class="flex vertical padded-2">
			<div>
				<h1>Add Group</h1>
			</div>
			<div>
				<mb-textbox
					[formControl]="form.controls.nameControl"
					[textbox]="textboxName"
				></mb-textbox>
			</div>
			<div class="relative z-2">
				<mb-select
					[formControl]="form.controls.typeControl"
					[select]="selectType"
				>
				</mb-select>
			</div>
			<div class="relative z-1">
				<mb-textarea
					[formControl]="form.controls.descriptionControl"
					[textarea]="textareaDescription"
				>
				</mb-textarea>
			</div>
			<div class="relative z-1">
				<mb-toggle
					[formControl]="form.controls.publicControl"
					[toggle]="togglePublic"
				></mb-toggle>
			</div>
		</div>
	</form>
</div>
