<!-- Hero -->
<div class="width-12 align-center hero flex vertical justify-center"
	style="background-image: url('/assets/moltresgalar.jpg')">
	<div class="max">
		<div class="padding-8 hero-content">
			<div class="logo margin-bottom">
				<h1 class="margin-bottom">
					Welcome to <b>Rotom</b> Dex
				</h1>
			</div>
			<div class="padding-top">
				<mb-search></mb-search>
			</div>
			<p>v{{version}}</p>
		</div>
	</div>
	<div class="hero-overlay"></div>
</div>

<!-- Under development -->
<mb-alert [alert]="alert" id="dev-alert"></mb-alert>

<!-- Latest -->
<div class="section section-dark">
	<div class="max">
		<div class="flex padded-y-8 padded-x-2">
	
			<!-- Release notes -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="newspaper"></fa-icon>
					</div>
					<div>
						<h2>Release Notes</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, at consectetur optio deserunt repellendus dolorum quisquam provident maxime enim modi! Voluptatibus quam laudantium enim nostrum cumque ducimus voluptatum hic omnis.</p>
			</div>
			
			<!-- Newest expansions -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="sparkles"></fa-icon>
					</div>
					<div>
						<h2>Newest Expansions</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>
	
			<!-- Increasing price -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="arrow-up"></fa-icon>
					</div>
					<div>
						<h2>Cards Increasing in Price</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>
	
			<!-- Decreasing price -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="arrow-down"></fa-icon>
					</div>
					<div>
						<h2>Cards Decreasing in Price</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>

		</div>
	</div>
</div>

<!-- Expansions -->
<div class="bg-alt section">
	<div class="max">
		<div class="flex flex-center padded-8">

			<div class="width-6 small-12 small-order-2">
				<div id="expansion-logos">
					<div class="flex padded">
						<div class="width-3 small-2" *ngFor="let expansionLogo of expansionLogos">
							<img src="{{expansionLogo}}"/>
						</div>
					</div>
				</div>
			</div>
			<div class="width-6 small-12 small-order-1">
				<h2>Expansions</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error, aperiam qui molestiae ullam quo quos sapiente sint? Culpa, esse! Veniam nesciunt eaque delectus eligendi eveniet. Porro quia maxime eius.</p>
				<mb-button [button]="expansionButton"></mb-button>
			</div>

		</div>
	</div>
</div>

<!-- Cards -->
<div class="section">
	<div class="max">
		<div class="flex flex-center padded-8">
			
			<div class="width-6 small-12">
				<h2>Cards</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptate, quisquam ducimus ex natus ratione illo cupiditate iusto rem libero necessitatibus pariatur beatae id similique, tenetur ipsam cum quod eos.</p>
				<mb-button [button]="cardsButton"></mb-button>
			</div>
			<div class="width-6 small-12">
				<div id="cards">
					<div class="flex padded">
						<div class="width-2 small-2" *ngFor="let card of cards">
							<img class="card" src="{{card}}" />
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Pokemon -->
<div class="section">
	<div class="max">
		<div class="flex flex-center padded-8">

			<div class="width-6 small-12 small-order-2">
				<div id="expansion-logos">
					<div class="flex padded">
						<div class="width-2 small-2" *ngFor="let pokemon of pokemons">
							<img src="{{pokemon}}"/>
						</div>
					</div>
				</div>
			</div>
			<div class="width-6 small-12 small-order-1">
				<h2>Pokemon</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error, aperiam qui molestiae ullam quo quos sapiente sint? Culpa, esse! Veniam nesciunt eaque delectus eligendi eveniet. Porro quia maxime eius.</p>
				<mb-button [button]="pokemonButton"></mb-button>
			</div>

		</div>
	</div>
</div>