<!-- Welcome -->
<div class="width-12 align-center hero flex vertical justify-center"
	style="background-image: url('/assets/moltresgalar.jpg')">
	<div class="max">
		<div class="padding-8 hero-content">
			<div class="logo margin-bottom">
				<h1 class="margin-bottom">Welcome to <b>Rotom</b> Dex</h1>
			</div>
			<div class="padding-top">
				<mb-search></mb-search>
			</div>
			<p>v{{version}}</p>
		</div>
	</div>
	<div class="hero-overlay"></div>
</div>

<div class="padding-x-2 padding-y-8">
	<div class="max">
		<div class="flex padded-y-8 padded-x-2">

			<!-- Under development -->
			<div class="width-12">
				<div class="flex justify-center">
					<mb-alert [alert]="alert"></mb-alert>
				</div>
			</div>
	
			<!-- Release notes -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="newspaper"></fa-icon>
					</div>
					<div>
						<h2>Release Notes</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, at consectetur optio deserunt repellendus dolorum quisquam provident maxime enim modi! Voluptatibus quam laudantium enim nostrum cumque ducimus voluptatum hic omnis.</p>
			</div>
			
			<!-- Newest expansions -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="sparkles"></fa-icon>
					</div>
					<div>
						<h2>Newest Expansions</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>
	
			<!-- Increasing price -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="arrow-up"></fa-icon>
					</div>
					<div>
						<h2>Cards Increasing in Price</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>
	
			<!-- Decreasing price -->
			<div class="width-6 medium-12">
				<div class="flex padded flex-center">
					<div>
						<fa-icon class="large" icon="arrow-down"></fa-icon>
					</div>
					<div>
						<h2>Cards Decreasing in Price</h2>
					</div>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ad dolorum voluptates commodi, accusantium quod delectus earum quis eius modi voluptatibus totam veniam. Id in quod repellat. In, architecto sequi?</p>
			</div>

		</div>
	</div>
</div>

<!-- Expansions -->
<div class="padding-2">
	<div class="max">
		<h2>Expansions</h2>
	</div>
</div>
<mb-expansions></mb-expansions>