@import "settings",
		"scaffold/typography";

.item {
    display: flex;
    padding: $spacing;
    align-items: center;
    position: relative;
    transition: $transition;
    cursor: pointer;
    &:hover {
		background: rgba(black, .05);
    }
    &:active {
		border-color: $primary-color!important;
		box-shadow: $shadow-focus !important;
		outline: 0 !important;
    }
    .card-image {
        position: relative;
        .image-wrapper {
            width: 48px;
            height: 48px;
            overflow: hidden;
            border-radius: 4px;
            position: relative;
            img {
                position: absolute;
                height: 100%;
                top: 50%;
                left: 50%;
                max-width: none;
                transform: translate(-50%, -50%);
            }
        }
        &.placeholder img {
            transform: translate(-50%, -50%) scale(1.4);    
        }
        padding-right: $spacing;
        .zoom-image-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            box-shadow: $shadow;
            transition: $transition;
            z-index: 99;
            overflow: hidden;
            border-radius: 4%;
            img {
                height: 48px;
                max-width: none;
                display: block;
            }
        }
        &:hover {
            .zoom-image-wrapper {
                opacity: 1;
                img {
                    height: 400px;
                }
            }
        }
    }
    @media (max-width: $screen-medium) {
        .card-information {
            .card-name {
                font-size: 16px;
            }
        }
    }
    @for $i from 1 through 50 {
        &:nth-child(#{50 - $i}) {
            z-index: $i;
        }
    }
}