<div class="padding item">
	<div
		class="flex padded flex-center"
		[routerLink]="card.route ? card.route : []">

		<div style="max-width: 64px;">
			<div class="card-image" [class.placeholder]="!card.image">
				<mb-loader *ngIf="false" [active]="imageLoading"></mb-loader>
				<img src="{{card.image}}" [hidden]="imageLoading" (load)="onLoad()" />
			</div>
		</div>

		<div class="box">
			<div class="flex padded flex-center">
				<div class="width-6">
					<h6>{{card.name}}</h6>
				</div>
				<div class="width-3">
					{{card.getCardNumber()}}
				</div>
				<div class="width-3">
					<div class="money-tag" *ngIf="card.last_prices">
						{{card.last_prices.market_price | currency}}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>