@import "settings",
		"scaffold/typography";

.item-list-expansion {
    display: flex;
    padding: $spacing;
    align-items: center;
    position: relative;
    transition: $transition;
    cursor: pointer;
    &:hover {
		background: rgba(black, .05);
    }
    &:active {
		border-color: $primary-color!important;
		box-shadow: $shadow-focus !important;
		outline: 0 !important;
    }
    .expansion-symbol {
        position: relative;
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 4px;
		img {
			position: absolute;
			max-height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 4px;
		}
	}
    @for $i from 1 through 50 {
        &:nth-child(#{50 - $i}) {
            z-index: $i;
        }
    }
}