@import "settings";

.items-grid {
	display: flex;
	flex-wrap: wrap;
	.item-grid {
		display: flex;
		width: percentage(1/6);
		position: relative;
		transition: $transition;
		@media (max-width: $screen-medium) {
			width: percentage(1/4);
		}
		@media (max-width: $screen-small) {
			width: percentage(1/3);
		}
		@media (max-width: $screen-xsmall) {
			width: percentage(1/2);
		}
		@for $i from 1 through 100 {
			&:nth-child(#{$i}) {
				z-index: 100 - $i;
			}
		}
		&:hover {
			z-index: 999;
			transform: scale(1.1);	
		}
	}
}
.pager {
    display: flex;
    justify-content: center;
}