@import "settings";

.progress {
	width: 100%;
	background: $main-bg;
	border: $border;
	border-radius: $border-radius;
	height: 16px;
	position: relative;
	font-size: 12px;
	.progress-bar {
		background: $primary-color;
		border-radius: $border-radius - 1px;
		height: 14px;
	}
	.progress-value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: bold;
		color: $font-color;
		margin-top: -1px;
		white-space: nowrap;
		text-align: center;
	}
	&.complete {
		.progress-bar {
			background: $green;
		}
	}
}
