@import "settings";

.textbox-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	color: $font-color;
	fa-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		cursor: pointer;
	}
	&.dark {
		.textbox {
			border: $border-strong;
		}
	}
	&.small {
		.textbox {
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			&[type="number"] {
				padding: 0 0 0 8px;
			}
		}
	}
}
.textbox {
	border-radius: $border-radius;
	padding: 0 32px 0 16px;
	text-overflow: ellipsis;
	height: 40px;
	border: $border;
	transition: $transition;
	max-width: 100%;
	cursor: text;
	background: $input-bg;
	&:focus {
		border-color: $primary-color;
		box-shadow: $shadow-focus, $shadow-focus-inset;
	}
	&:hover {
		border-color: $primary-color;
	}
	&[type="number"] {
		padding: 0 0 0 16px;
		line-height: 40px;
	}
}

// Validation
:host {
	&.ng-invalid {
		.textbox {
			border-color: $error;
			box-shadow: $shadow-inset;
			&:focus {
				box-shadow: $shadow-focus-inset, $shadow-error;
			}
		}
	}
}
