// Typography
// ========================================
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
// Font
$font-family: "Source Sans Pro", sans-serif;
$font-size: 16px;
$font-color: rgb(200, 200, 200);
// Heading
$heading-font-family: "Source Sans Pro", serif;
$heading-font-size: initial; // TODO: replace with real value
$heading-font-color: rgba(232, 232, 232);

// Color wheel
// ========================================
$white: white;
$grey: grey;
$black: black;
$red: rgb(201, 35, 35);
$orange: #f68603;
$yellow: #f1c500;
$green: rgb(58, 156, 58);
$teal: #1ba083;
$blue: #247abb;
$purple: #8936b7;
$pink: #d11a58;
// Primary/secondary
$primary-color: $blue;
$secondary-color: rgba(white, 0.2);

// Section colors
// ========================================
$header-bg: linear-gradient($red, darken($red, 10%));
$header-color: white;
$menu-bg: rgba(24, 24, 24);
$main-bg: rgba(32, 32, 32);
$footer-bg: $menu-bg;
$panel-bg: rgba(64, 64, 64);
$input-bg: rgba(white, 0.05);

// Alerts
// ========================================
$success: $green;
$info: $blue;
$warning: $yellow;
$error: $red;

// Borders
// ========================================
$border-color: rgba($font-color, 0.1);
$border-color-strong: rgba($font-color, 0.3);
$border: 1px solid $border-color;
$border-strong: 1px solid $border-color-strong;
// Border radius
$border-radius: 20px;
$border-radius-small: 6px;
$border-radius-card: #{4.8%/4%};

// Shadows
// ========================================
$shadow: 0 2px 4px rgba(black, 0.4);
$shadow-inset: inset 0 0 2px rgba(black, 0.1);
$shadow-inset-large: inset 0 0 6px 2px rgba(black, 0.4);
$shadow-large: 0 4px 12px rgba(black, 0.4);
$shadow-sheen: inset 0 0 0 1px rgba(white, 0.2);
// Focus shadow
$shadow-focus: 0 0 0 4px rgba($primary-color, 0.6);
$shadow-focus-inset: inset 0 2px 4px rgba(black, 0.2);
// Text shadow
$text-shadow: 0 1px 4px rgba(black, 0.6);
$text-shadow-focus: 0 1px 4px rgba(black, 0.8);
$text-shadow-inset: 0 1px 1px rgba(white, 0.6);
// Alert shadow
$shadow-success: 0 0 0 3px rgba($success, 0.2);
$shadow-info: 0 0 0 3px rgba($info, 0.2);
$shadow-warning: 0 0 0 3px rgba($warning, 0.2);
$shadow-error: 0 0 0 3px rgba($error, 0.2);

// Transition
// ========================================
$t: ease 0.2s;
$transition: $t color, $t border, $t background-color, $t box-shadow,
	$t transform, $t max-width, $t opacity, $t margin, $t fill, $t top, $t left,
	$t right, $t bottom;

// Screen
// ========================================
$max: 1080px;
$min: 400px;
$screen: 320px;
$screen-xsmall: $screen * 1;
$screen-small: $screen * 2;
$screen-medium: $screen * 3;
$screen-large: $screen * 4;
$screen-xlarge: $screen * 5;

// Misc
// ========================================
$spacing: 8px;
$sides: "top", "right", "bottom", "left";
$header-height: 56px;

// Rotomdex
// ========================================
$card-ratio: 330/240;
