@import "settings",
		"rotomdex";

:host {
	display: block;
}

.hero {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 548px;
	&:after {
		content: '';
		box-shadow: $shadow-inset-large;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: 2;
		pointer-events: none;
	}
	@each $type, $color in $poke-types {
		&.#{$type} {
			background: linear-gradient(
				to right,
				darken($color, 20%),
				darken(mix($color, black, 80%), 20%)
			);
		}
	}
	.pokemon-types {
		padding: $spacing;
		padding-bottom: $spacing * 4;
		display: flex;
		justify-content: center;
		z-index: 2;
		position: relative;
	}
	.pokemon-image-placeholder {
		width: 400px;
		height: 400px;
		padding: $spacing * 8;
		display: flex;
		justify-content: center;
		z-index: 2;
		position: relative;
		margin: auto;
		fa-icon {
			width: 100%;
		}
	}
	.art {
		margin: 0 auto;
		filter: drop-shadow($shadow);
		position: relative;
		z-index: 2;
		padding: $spacing * 4;
		width: 400px;
		&.noEvolutionChain {
			margin-top: -$spacing * 2;
		}
	}
	.pokeball {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 1000px;
		opacity: .1;
		z-index: 1;
	}
	.prev-pokemon, .next-pokemon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: $menu-bg;
		padding: $spacing * 3;
		color: white;
		box-shadow: $shadow;
		z-index: 3;
		&:hover {
			box-shadow: $shadow, $shadow-focus;
		}
	}
	.prev-pokemon {
		left: 0;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
	.next-pokemon {
		right: 0;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}
}

.pokemon-info {
	padding: $spacing * 2;
	border-bottom: $border;
	h1 {
		line-height: 1;
	}
}

.dex-number {
	font-size: 60%;
	opacity: .75;
	text-transform: capitalize;
}

.pokemon-dex {
	@media (max-width: $screen-medium) {
		width: 100%;
	}
}

.pokemon-sprites {
	position: absolute;
	left: 80px;
	top: 50%;
	transform: translateY(-50%);
	filter: drop-shadow($shadow);
}

.pokemon-region {
	text-transform: capitalize;
}

.pokemon-generation {
	text-transform: capitalize;
}

.pokemon-evolution-chain {
	border-radius: $border-radius-small;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	//background: rgba($menu-bg, .5);
	z-index: 2;
	padding: $spacing;
	position: relative;
	display: flex;
	margin: auto;
	color: white;
	.pokemon-evolution-wrapper {
		&:not(:last-child) {
			fa-icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -16px;
			}
		}
		&:last-child {
			fa-icon {
				display: none;
			}
		}
	}
	.pokemon-evolution {
		position: relative;
		padding: $spacing;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
	}
}

mb-progress-bar {
	position: absolute;
	bottom: 160px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	&.noEvolutionChain {

	}
}