@import "settings";

.select {
	position: relative;
	color: $primary-color;
	fa-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: $spacing;
		pointer-events: none;
	}
	&.dark {
		select {
			border: $border-dark;
		}
	}
}
select {
	height: 40px;
	padding-right: 24px;
	appearance: none;
	border: $border;
	padding: $spacing ($spacing * 2);
	border-radius: $border-radius;
	transition: $transition;
	width: 100%;
	font-size: $font-size;
	color: $primary-color;
	outline: 0 !important;
	background: rgba($panel-bg, .05);
	option, optgroup {
		color: $font-color;
	}
	&:focus {
		box-shadow: $shadow-focus, $shadow-focus-inset;
		outline: 0 !important;
		border-color: $primary-color;
	}
	&:active {
		outline: 0 !important;
	}
}