<label *ngIf="select.label" class="label">
	{{ select.label }}
</label>

<div *ngIf="!select.advancedSelect" class="select" [class.dark]="select.dark">
	<fa-icon icon="caret-down"></fa-icon>
	<select
		[(ngModel)]="value"
		(change)="change()"
		class="{{ select.classes ? select.classes : '' }}"
	>
		<option *ngFor="let option of select.options" [value]="option.value">
			{{ option.text }}
		</option>
		<optgroup
			*ngFor="let optionGroup of select.optionGroups"
			[label]="optionGroup.label"
		>
			<option
				*ngFor="let option of optionGroup.options"
				[value]="option.value"
			>
				{{ option.text }}
			</option>
		</optgroup>
	</select>
</div>

<div
	*ngIf="select.advancedSelect"
	class="select-advanced"
	(click)="click()"
	(clickOutside)="clickOutside()"
>
	<div class="placeholder">{{ select.placeholder }}</div>
	<div class="selected-options">
		<div
			class="select-option"
			*ngFor="let option of select.getSelectedOptions()"
		>
			<fa-icon [icon]="option.icon"></fa-icon>
			<span class="text">{{ option.text }}</span>
		</div>
	</div>
	<div class="available-options" *ngIf="select.open">
		<div
			class="select-option"
			*ngFor="let option of select.getUnselectedOptions()"
		>
			<fa-icon [icon]="option.icon"></fa-icon>
			<span class="text">{{ option.text }}</span>
		</div>
	</div>
	<fa-icon icon="caret-down"></fa-icon>
</div>
