<label *ngIf="select.label" class="label">
	{{ select.label }}
</label>

<div *ngIf="!select.advancedSelect" class="select" [class.dark]="select.dark">
	<fa-icon icon="caret-down"></fa-icon>
	<select
		[(ngModel)]="value"
		(change)="change()"
		class="{{ select.classes ? select.classes : '' }}"
	>
		<option *ngFor="let option of select.options" [ngValue]="option.value">
			{{ option.text }}
		</option>
		<optgroup
			*ngFor="let optionGroup of select.optionGroups"
			[label]="optionGroup.label"
		>
			<option
				*ngFor="let option of optionGroup.options"
				[ngValue]="option.value"
			>
				{{ option.text }}
			</option>
		</optgroup>
	</select>
</div>

<div
	*ngIf="select.advancedSelect"
	class="select-advanced"
	(click)="click()"
	(clickOutside)="clickOutside()"
>
	<div class="placeholder" *ngIf="select.getSelectedOptions().length <= 0">
		{{ select.placeholder }}
	</div>
	<div
		class="selected-options"
		*ngIf="select.getSelectedOptions().length > 0"
	>
		<div
			class="select-option"
			*ngFor="let option of select.getSelectedOptions()"
		>
			<fa-icon [icon]="option.icon"></fa-icon>
			<span class="text">{{ option.text }}</span>
			<fa-icon (click)="unselectOption(option)" icon="times"></fa-icon>
		</div>
	</div>
	<div class="available-options" *ngIf="select.open">
		<div class="search-options">
			<mb-textbox [textbox]="textboxSearch"></mb-textbox>
		</div>
		<div
			class="select-option"
			*ngFor="let option of select.getUnselectedOptions()"
			(click)="selectOption(option)"
		>
			<fa-icon [icon]="option.icon"></fa-icon>
			<span class="text">{{ option.text }}</span>
		</div>
	</div>
	<fa-icon icon="caret-down"></fa-icon>
</div>
