<div
	class="relative small-square"
	*ngIf="items">

	<!-- Header -->
	<mb-items-header
		*ngIf="items.showHeader"
		[itemsHeader]="items.header">
	</mb-items-header>

	<!-- Filter -->
	<mb-items-filter
		*ngIf="items.showFilters"
		[itemsFilter]="items.filter"
		(outputGetItems)="_outputGetItems()"
		(outputDisplayModeChanged)="displayModeChanged($event)">
	</mb-items-filter>

	<!-- Empty -->
	<mb-empty *ngIf="empty && showEmpty()" [empty]="empty"></mb-empty>

	<!-- Groups -->
	<mb-items-groups
		*ngIf="showGroups()"
		[groups]="items.itemGroups"
		[itemClasses]="items.itemClasses"
		[itemDisplayType]="items.itemDisplayType">
	</mb-items-groups>

	<!-- Footer -->
	<mb-items-footer
		*ngIf="items.itemGroups.length && items.showFooter"
		[itemsFooter]="items.footer"
		(outputGetItems)="_outputGetItems()">
	</mb-items-footer>

</div>