@import "settings";

.tag {
	display: block;
	padding: 4px 6px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	background: rgba($grey, .2);
	border-radius: $border-radius;
	&.primary {
		background: $primary-color;
		color: white;
	}
	&.banned {
		background: $red;
		color: white;
	}
	&.not_legal {
		background: rgb(black, .2);
	}
	&.legal {
		background: $green;
		color: white;
	}
	&.restricted {
		background: $primary-color;
		color: white;
	}
	&.transparent {
		background: transparent;
		color: inherit;
	}
}