// Body
body {
    min-width: $min;
	height: 100vh;
    display: flex;
    flex-wrap: nowrap;
	flex-direction: column;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}

// Min/max
.min {
	min-width: $min;
}
.max {
    max-width: $max;
    margin: 0 auto;
}

// Cursors
.pointer {
	cursor: pointer;
}
.resize-ns {
	cursor: ns-resize;
}
.resize-ew {
	cursor: ew-resize;
}

// Shadow
.shadow {
	box-shadow: $shadow;
}
.shadow-large {
	box-shadow: $shadow-large;
}

// Z index
@for $i from 1 through 20 {
	.z-#{$i} {
		z-index: $i;
	}
}

// Position
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}

// Backgrounds
.bg {
	background: $main-bg;
}

// Alerts
.success {
	background: $success !important;
}
.info {
	background: $info !important;
}
.warning {
	background: $warning !important;
}
.error {
	background: $error !important;
}

// Color
@each $color-name, $color-value in $colors {
	.color-#{$color-name} {
		color: #{color-value} !important;
	}
	.bg-#{$color-name} {
		background-color: #{$color-value} !important;
	}
}

// Gradient
.texture-gradient {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	pointer-events: none;
    &:before {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(white, .20), transparent);
        z-index: 2;
    }
	+ *:not([class^="texture-"]) {
		position: relative;
		z-index: 2;
	}
}

@for $i from 1 through 10 {
	.opacity-#{$i} {
		opacity: $i / 10;
	}
}

// State
.hover {
	transition: $transition;
	&:hover {
		border-color: $primary-color;
		box-shadow: $shadow-focus;
	}
}
.hover-zoom {
	transition: $transition;
	&:hover {
		transform: scale(1.1);
	}
}
.hover-zoom-large {
	transition: $transition;
	&:hover {
		transform: scale(1.4);
	}
}

.transition {
	transition: $transition;
}