// Flex
.flex {
	display: flex;
	flex-wrap: wrap;
}

// Vertical
.vertical {
	flex-direction: column;
}

// Wrap
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}

// Justification
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}

// Alignment
.flex-center {
	align-items: center;
}
.flex-baseline {
	align-items: baseline;
}
.flex-end {
	align-items: flex-end;
}
.flex-start {
	align-items: flex-start;
}

// Sizes
.box {
	flex: 1 0 0;
	//min-width: 0; not sure why needed, collided with medium-12 setting width: 100%
}
.box-0 {
	flex: 0 !important;
}

// Widths
@for $i from 1 through 12 {
	.width-#{$i} {
		width: percentage($i/12) !important;
	}
}

// Medium widths
@media (max-width: $screen-medium) {
	@for $i from 1 through 12 {
		.medium-#{$i} {
			width: percentage($i/12) !important;
		}
	}
	.medium-box {
		flex: 1 0 0;
	}
	.medium-vertical {
		flex-direction: column;
	}
	.medium-flex-start {
		align-items: flex-start;
	}
	@for $i from 1 through 10 {
		.medium-order-#{$i} {
			order: $i;
		}
	}
}

// Small widths
@media (max-width: $screen-small) {
	@for $i from 1 through 12 {
		.small-#{$i} {
			width: percentage($i/12) !important;
		}
	}
	.small-box {
		flex: 1 0 0;
	}
	.small-vertical {
		flex-direction: column;
	}
	@for $i from 1 through 10 {
		.small-order-#{$i} {
			order: $i;
		}
	}
}