@import "settings";

#item-header {
	position: relative;
	padding: $spacing * 2;
	display: flex;
	&.dark {
		background: $menu-bg;
		color: white;
		border-bottom-color: $border-color-dark;
		.subheading {
			opacity: .5;
		}
		h2 {
			color: white;
		}
	}
	fa-icon {
		width: 64px;
		height: 64px;
		padding: $spacing * 2;
	}
	.symbol-wrapper {
		width: 40px;
		height: 40px;
		padding: $spacing;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: $border-radius;
		background: rgba(white, .2);
		img {
			width: 100%;
			max-height: 100%;
		}
	}
	[class^="texture"] {
		opacity: .5;
	}
	.title {
		margin: 0;
	}
	.price {
		color: $green;
		font-weight: bold;
	}
	.tags {
		margin-top: 6px;
	}
	@media (max-width: $screen-small) {
		padding-right: $spacing;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		[class^="texture"] {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		.icon-wrapper, .symbol-wrapper {
			//display: none;
			fa-icon {
				padding: $spacing;
				width: 40px;
				height: 40px;
			}
		}
		.cards-menu {
			display: flex;
			width: 100%;
		}
		.main-header-menu {
			width: 100%;
			display: flex;
			
		}
	}
}