<header id="header">
	<div class="max">
		<div class="flex box padded">
			<div class="flex width-3">
				<a class="logo" routerLink="">
					<span><b>Rotom</b> Dex</span>
				</a>
			</div>
			<div class="flex justify-center box width-6">
				<mb-search></mb-search>
			</div>
			<div *ngIf="signedIn" class="profile flex justify-end width-3" mb-profile></div>
			<div *ngIf="!signedIn" class="login flex justify-end width-3">
				<mb-menu [menu]="menuLogin"></mb-menu>
			</div>
		</div>
	</div>
</header>