@import "settings";

:host {
    display: flex;
    flex-direction: column;
	flex: 1 0 0;
	z-index: 1;
	position: relative;
}

#menu {
	width: 100%;
	border-bottom: $border;
	background: $menu-bg;
	a {
		color: white;
	}
}

#main {
    background-color: $main-bg;
    flex: 1;
    position: relative;
	z-index: 1;
}

.scrollTop {
	border-radius: $border-radius;
	padding: $spacing * 2.5;
	width: 64px;
	height: 64px;
	position: fixed;
	bottom: 32px;
	right: 32px;
	background: white;
	box-shadow: $shadow;
	cursor: pointer;
	z-index: 10;
	&:hover {
		box-shadow: $shadow-large;
	}
}