@import "settings";

.hero {
  height: 75vh;
  max-height: 600px;
  background-size: cover;
  background-position: top center;
  padding-top: $header-height;
  color: white;
  position: relative;
  margin-top: -($header-height + 58px);
  .hero-content {
    z-index: 2;
    position: relative;
    filter: drop-shadow($shadow);
  }
  .hero-overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(rgba(black, 0.9) 0%, rgba(black, 0.25) 50%);
  }
}
