<form
	class="padding-y-8 flex vertical flex-center"
	[formGroup]="form"
	(ngSubmit)="submit()"
>
	<div class="flex vertical padded-2" style="max-width: 400px">
		<div>
			<h1>Reset Password</h1>
		</div>
		<div>
			<mb-textbox
				[formControl]="form.controls.emailControl"
				[textbox]="textboxEmail"
			></mb-textbox>
		</div>
		<div>
			<mb-textbox
				[formControl]="form.controls.passwordControl"
				[textbox]="textboxPassword"
			></mb-textbox>
		</div>
		<div>
			<mb-textbox
				[formControl]="form.controls.confirmPasswordControl"
				[textbox]="textboxConfirmPassword"
			>
			</mb-textbox>
		</div>
		<div>
			<mb-button [button]="buttonSubmit"></mb-button>
		</div>
	</div>
</form>
