<a
	class="item-grid-expansion"
	[routerLink]="expansion.route ? expansion.route : []">
	
	<figure class="expansion-logo">
		<img *ngIf="expansion.name !== 'Base'" class="symbol" src="{{expansion.symbol}}" />
		<img src="{{expansion.logo}}" />
	</figure>

	<figcaption class="expansion-info">
		<div class="flex padded flex-center flex-nowrap">
			<div class="box ellipsis">
				<div class="expansion-name ellipsis">
					{{expansion.name}}
				</div>
				<span class="subheading expansion-release-date">
					{{expansion.release_date | date}}
				</span>
				-
				<span class="subheading expansion-total-cards">
					{{expansion.total_cards}} Cards
				</span>
			</div>
		</div>
	</figcaption>

</a>