<a
	class="item-grid-expansion {{size}}"
	[routerLink]="expansion.route ? expansion.route : []">
	
	<figure class="expansion-logo">
		<div class="expansion-logo-inner">
			<img *ngIf="expansion.name !== 'Base'" class="symbol" src="{{expansion.symbol}}" />
			<img src="{{expansion.logo}}" />
		</div>
		<mb-progress-bar
			class="padding block padding-top-none"
			[value]="expansion.progress">
		</mb-progress-bar>
	</figure>

	<figcaption class="expansion-info flex vertical">
		<div class="expansion-name ellipsis max-12">
			{{expansion.name}}
		</div>
		<div class="flex">
			<span class="subheading expansion-release-date">
				{{expansion.release_date | date}} -
			</span>
			<span class="subheading expansion-total-cards">
				{{expansion.total_cards}} Cards
			</span>
		</div>
	</figcaption>

</a>