@import "settings";

:host {
	display: flex;
	flex: 1;
	width: 100%;
}

.item-grid-expansion {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: $border-radius-small;
	width: 100%;
	transition: $transition;
	overflow: hidden;
	&:hover {
		border-color: $primary-color;
		box-shadow: $shadow-focus;
	}
	
	.expansion-logo {
		display: block;
		height: 160px;
		width: 100%;
		position: relative;
		background: rgba($grey, .2);
		img:not(.symbol) {
			padding: $spacing * 4;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 80%;
			max-width: 100%;
		}

		.symbol {
			height: 24px;
			margin: $spacing;
		}
	}
	.expansion-name {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.expansion-info {
		border-top: $border;
		width: 100%;
		padding: $spacing;
		line-height: 1;
		background: $menu-bg;
		color: white;
	}
}