<div class="width-12">
	<div class="flex flex-center">
		<div class="box">
			<div class="flex flex-center">
				<div class="width-3 medium-4">
					<div class="flex flex-center">
						<div class="width-6 subheading">
							{{ item.price | currency }}
						</div>
						<div class="width-6">
							<mb-textbox [textbox]="textboxQuantity"></mb-textbox>
						</div>
					</div>
				</div>
				<div class="width-6 medium-5">
					<div class="flex">
						<div class="width-6">
							<mb-select [select]="selectCondition"></mb-select>
						</div>
						<div class="width-6">
							<mb-select [select]="selectGradingCompany"></mb-select>
						</div>
					</div>
				</div>
				<div class="width-3 medium-3">
					<mb-select [select]="selectPrintVerion"></mb-select>
				</div>
			</div>
		</div>
		<div>
			<mb-button [button]="buttonRemove"></mb-button>
		</div>
	</div>
</div>