<div class="width-12">
	<div class="flex flex-center">
		<div class="box">
			<div class="flex flex-center">
				<div>
					<div class="subheading money" style="min-width: 56px;">
						{{ item.price | currency }}
					</div>
				</div>
				<div class="box">
					<div class="flex flex-center">
						<div class="width-2 small-3">
							<mb-textbox [textbox]="textboxQuantity"></mb-textbox>
						</div>
						<div class="width-3">
							<mb-select [select]="selectCondition"></mb-select>
						</div>
						<div class="width-3">
							<mb-select [select]="selectGradingCompany"></mb-select>
						</div>
						<div class="width-4 small-3">
							<mb-select [select]="selectPrintVerion"></mb-select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<mb-button [button]="buttonRemove"></mb-button>
		</div>
	</div>
</div>