@import "settings",
		"rotomdex";

.type-tag {
	@each $type, $color in $poke-types {
		&.#{$type} {
			display: flex;
			vertical-align: middle;
			border-radius: $border-radius-small;
			background: $color;
			overflow: hidden;
			border: 1px solid rgba(black, .2);
			position: relative;

			// Glow
			&:before {
				content: '';
				border-radius: $border-radius-small;
				width: 100%;
				height: 100%;
				position: absolute;
				box-shadow: $shadow-sheen;
				z-index: 10;
			}
			img {
				width: 20px;
				padding: $spacing / 2;
				box-shadow: $shadow-sheen;
			}
			span {
				display: block;
				padding: ($spacing / 2) $spacing;
				color: white;
				font-size: 10px;
				text-transform: uppercase;
				background: darken($color, 35%);
				position: relative;
				overflow: hidden;
			}
		}
	}
}