<div class="scanner-wrapper padding">
	<div class="scanner">
		<div class="scanner-errors-overlay" (click)="errors = []" *ngIf="errors.length > 0">
			<div class="scanner-errors">
				<h4>Errors</h4>
				<ul>
					<li *ngFor="let error of errors">{{error | json}}</li>
				</ul>
			</div>
		</div>
		<div class="scanner-camera-wrapper">

			<!-- Webcam -->
			<webcam *ngIf="showWebcam" [height]="600" [width]="400" [trigger]="triggerObservable"
				[allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
				[videoOptions]="videoOptions" [imageQuality]="1" (imageCapture)="handleImage($event)"
				(cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
			
			<!-- Overlay -->	
			<div *ngIf="false" class="scanner-camera-overlay {{scanning ? 'scanning' : ''}}"></div>
			
			<!-- FPS -->
			<div *ngIf="false" class="scanner-status {{scanning ? 'scanning' : ''}}">
				<div class="scanner-fps">fps</div>
			</div>
			
			<!-- Scan -->
			<div *ngIf="showActionScan" (click)="scannerToggle()" class="scanner-action scanner-scan {{scanning ? 'scanning' : ''}}">
				<fa-icon icon="{{scanning ? 'pause' : 'play'}}"></fa-icon>
				<span>{{scanning ? 'Stop' : 'Start'}}</span>
			</div>

			<!-- Snapshot -->
			<div *ngIf="showActionSnapshot" (click)="runScan()" class="scanner-action scanner-snapshot">
				<fa-icon icon="camera"></fa-icon>
				<span>Capture</span>
			</div>

			<!-- Mutiple -->
			<div *ngIf="showActionMultiple" (click)="runScan()" class="scanner-action scanner-multiple">
				<fa-icon icon="bring-front"></fa-icon>
				<span>Capture</span>
			</div>

		</div>

		<!-- Options -->
		<div class="scanner-options">
			<mb-menu [menu]="menuScannerOptions"></mb-menu>
		</div>

		<!-- Mode -->
		<div class="scanner-modes">
			<mb-menu [menu]="menuScannerModes"></mb-menu>
		</div>

		<!-- Result -->
		<div *ngIf="visibleMatches.length && scannerResultMenu" class="scanner-result {{showResult ? 'active' : ''}}">
			<mb-menu [menu]="scannerResultMenu"></mb-menu>
		</div>

		<!-- Results -->
		<a [routerLink]="'/scanner/lists/1'" class="scanner-results-wrapper animated fadeInUp {{prompt ? 'prompt' : ''}}" *ngIf="visibleMatches.length > 0">
			<div class="scanner-results">
				<div *ngFor="let match of visibleMatches" class="scanner-result animated zoomIn">
					<img class="scanner-result-image" [src]="match.images.normal" />
				</div>
				<div class="scanner-results-count"><span>{{matches.length}}</span></div>
			</div>
		</a>
	</div>
</div>

<div class="flex justify-center padding" style="padding-top: 0;">
	<mb-alert [alert]="alert"></mb-alert>
</div>