@import "settings";

.textarea-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	fa-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		cursor: pointer;
	}
}
.textarea {
	border-radius: $border-radius;
	padding: 16px;
	padding-right: 32px;
	text-overflow: ellipsis;
	min-height: 64px;
	border: $border;
	box-shadow: $shadow-inset;
	transition: $transition;
	max-width: 100%;
	resize: vertical;
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	background: $input-bg;
	&:focus {
		outline: 0;
		border-color: $primary-color;
		box-shadow: $shadow-focus, $shadow-focus-inset;
	}
	&[type="number"] {
		padding: 0;
		padding-left: 16px;
		line-height: 40px;
	}
}
mb-textarea {
	&.ng-invalid {
		.textbox {
			border-color: $error;
			box-shadow: $shadow-inset;
			&:focus {
				box-shadow: $shadow-focus-inset, $shadow-error;
			}
		}
	}
}
