<a
	class="card-grid"
	[routerLink]="card.route ? card.route : []">

	<div
		class="card-image"
		*ngIf="card.image">

		<div class="image-wrapper">
			<mb-loader [active]="imageLoading"></mb-loader>
			<img src="{{card.image}}" [hidden]="imageLoading" (load)="onLoad()" />
		</div>

		<div class="card-information">
			<div class="flex flex-end">
				<div class="box ellipsis">
					<div class="card-number subheading">
						{{getCardNumber()}}
					</div>
					<div class="card-name">
						{{card.name}}
					</div>
				</div>
				<div>
					<div class="money-tag" *ngIf="card.last_prices">
						${{card.last_prices.market_price}}
					</div>
				</div>
			</div>
		</div>

	</div>

</a>