@import "settings";

:host {
	width: 100%;
}

.card-grid {
	display: block;
    transition: $transition;
	border-radius: $border-radius-small;
	flex: 1 0 0;
	background: linear-gradient(transparent 50%, $menu-bg 51%);
	cursor: pointer;
    &:active {
		border-color: $primary-color!important;
		box-shadow: $shadow-focus !important;
		outline: 0 !important;
	}
	&:hover {
		box-shadow: $shadow-focus, $shadow-large;
	}
    .card-image-wrapper {
		width: 100%;
		position: relative;
		&:after {
			display: none;
		}
        .card-image {
			width: 100%;
			box-shadow: $shadow;
			overflow: hidden;
			border-radius: $border-radius-card;
			position: relative;
			z-index: 2;
			&:before {
				content: '';
				width: 100%;
				display: block;
				padding-bottom: 100% * $card-ratio;
				background: darken(white, 50%);
				border-radius: $border-radius-card;
			}
			img {
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.money-tag {
				position: absolute;
				bottom: 0;
				left: 0;
				margin: $spacing;
				box-shadow: $shadow;
			}
			.collection {
				position: absolute;
				bottom: 0;
				right: 0;
				margin: $spacing;
				background: white;
				border-radius: $border-radius;
				box-shadow: $shadow;
				width: 44px;
			}
		}
		> mb-menu {
			position: absolute;
			left: $spacing;
			bottom: $spacing;
		}
    }
    .card-information {
		width: 100%;
		padding: ($spacing * 2.5) $spacing $spacing $spacing;
		margin-top: -$spacing * 2;
		border-bottom-left-radius: $border-radius-small;
		border-bottom-right-radius: $border-radius-small;
		bottom: 0;
		background: rgba($menu-bg, .9);
		display: flex;
		flex-direction: column;
		color: white;
		line-height: 1;
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			border-radius: $border-radius-small;
			width: 100%;
			height: 100%;
			box-shadow: $shadow-sheen;
			z-index: 10;
			position: absolute;
			border: $border;
			top: 0;
			left: 0;
		}
		.card-name {
			// Fix ellipsis overflow
			padding-bottom: 4px;
			margin-bottom: -4px;
		}
    }
}