<div class="flex padding-2">
	<div class="padding-2">
		<mb-menu [menu]="menuSidebar"></mb-menu>
	</div>
	<div class="padding-2 box">
		<div class="max">
			<div class="flex padded">
				<div class="width-4 medium-12">
					<div class="panel">
						<div class="flex padded">
							<div class="width-6 flex vertical flex-center">
								<img class="symbol" [src]="symbolCards" />
								<h4>
									987<span class="subheading">/40,000</span>
								</h4>
								<div class="subheading">Total Cards</div>
							</div>
							<div class="width-6 flex vertical flex-center">
								<img class="symbol" [src]="symbolPokemon" />
								<h4>300<span class="subheading">/999</span></h4>
								<div class="subheading">Total Pokemon</div>
							</div>
							<div class="width-6">
								<h4>48<span class="subheading">/88</span></h4>
								<div class="subheading">Total Sets</div>
							</div>
						</div>
					</div>
				</div>
				<div class="width-8 medium-12">
					<div class="panel">
						<h4>History</h4>
						<p>
							Graph showing cards added to collection over time.
						</p>
					</div>
				</div>
				<div class="width-6 medium-12">
					<div class="panel">
						<h4>Expansions</h4>
						<p>Progress collecting each set, sorted by progress.</p>
						<div class="flex padded">
							<div class="width-12">
								<h6>Hidden Fates</h6>
								<progress-bar
									[progressBar]="progressBar"
								></progress-bar>
							</div>
						</div>
					</div>
				</div>
				<div class="width-6 medium-12">
					<div class="panel">
						<h4>Pokemon</h4>
						<p>
							Progress collecting each pokemon, sorted by
							progress.
						</p>
						<div class="flex padded">
							<div class="col xlarge-12">
								<h6>Charizard</h6>
								<progress-bar
									[progressBar]="progressBar"
								></progress-bar>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
