<div *ngIf="mbFormControl">
	<mb-textbox
		*ngIf="isTextbox()"
		[textbox]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-textbox>
	<mb-textarea
		*ngIf="isTextarea()"
		[textarea]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-textarea>
	<mb-select
		*ngIf="isSelect()"
		[select]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-select>
	<mb-editor
		*ngIf="isEditor()"
		[editor]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-editor>
	<mb-checkbox
		*ngIf="isCheckbox()"
		[checkbox]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-checkbox>
	<mb-toggle
		*ngIf="isToggle()"
		[toggle]="mbFormControl.control"
		[formControl]="mbFormControl.formControl"
	></mb-toggle>
</div>
