@import "settings";

:host {
	position: relative;
	z-index: 1;
}

#header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	background: $header-bg;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	padding: $spacing ($spacing * 2);
	border-bottom: $border;
	box-shadow: $shadow;
	
	&.transparent:not(.scrolled) {
		background: none;
		box-shadow: none;
		border-bottom: none;
		text-shadow: $text-shadow;
	}

	&.transparent {
		+ #menu {
			background: transparent;
			color: white;
			border-bottom: 0;
			border-radius: $border-radius;
			margin-left: auto;
			margin-right: auto;
			.menu {
				background: $menu-bg;
				box-shadow: $shadow;
			}
			a  {
				color: white;
			}
		}
	}
	
    .logo {
        display: flex;
        align-items: center;
		cursor: pointer;
		border-radius: $border-radius;
		position: relative;
		height: 100%;
		color: $header-color;
		padding: 0 $spacing * 2;
		margin-right: $spacing * 2;
        img {
            display: block;
            border-radius: $border-radius;
            overflow: hidden;
            height: 40px;
            &.logo-image-small {
                display: none;
			}
        }
        span {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
	}
	
	a {
		color: $header-color;
	}

    .max {
        position: relative;
        height: $header-height;
        z-index: 4;
		display: flex;
		align-items: center;
		flex: 1;
    }
}

#menu {
	background: $menu-bg;
	display: flex;
	justify-content: center;
	margin-top: $header-height;
	padding: $spacing;
	z-index: 2;
	position: relative;
}

@media (max-width: $screen-medium) {
	#menu .menu.tabs {
		> ul > li {
			flex: 1;
		}
	}
	mb-search {
		width: 100%;
	}
}

#menuBack, #menuLogin {
	background: rgba(black, .2);
	border-radius: $border-radius;
}