<header
	id="header"
	[class.transparent]="transparent"
	[class.scrolled]="scrolled">
	<div class="max">
		<div class="flex box padded">
			<div class="width-3 flex">
				<mb-menu id="menuBack" [menu]="menuBack"></mb-menu>
			</div>
			<div class="width-6 flex justify-center">
				<a class="logo" routerLink="">
					<span><b>Rotom</b>dex</span>
				</a>
			</div>
			<div *ngIf="signedIn" class="profile flex justify-end width-3" mb-profile></div>
			<div *ngIf="!signedIn" class="login flex justify-end width-3">
				<mb-menu id="menuLogin" [menu]="menuLogin"></mb-menu>
			</div>
		</div>
	</div>
</header>

<div class="menu-wrapper">
	<mb-menu id="menu" [menu]="menu"></mb-menu>
</div>