<div class="items-list" *ngIf="items.length">
    <ul>
        <li *ngFor="let item of items">
			
			<!-- Card -->
			<mb-card-item-list
				*ngIf="isCard(item)"
				[card]="item">
			</mb-card-item-list>

			<!-- Expansion -->
			<mb-expansion-item-list
				*ngIf="isExpansion(item)"
				[expansion]="item">
			</mb-expansion-item-list>

			<!-- Pokemon variant -->
			<mb-pokemon-item-list
				*ngIf="isPokemonVariant(item)"
				[pokemonVariant]="item">
			</mb-pokemon-item-list>

		</li>
    </ul>
</div>