#page-auth {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 400px;
	.menu.tabs {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
		ul {
			justify-content: center;
			li {
				flex: initial;
			}
		}
	}
}