@import "settings";

.button {
    padding: 11px 16px;
	line-height: 14px;
	border: 0;
    border-radius: 999px;
    background: $primary-color;
	color: white;
	display: flex;
	align-items: center;
    transition: $transition;
    position: relative;
    cursor: pointer;
	overflow: hidden;
	font-size: $font-size;
	outline: 0;

	&.secondary {
		background: $secondary-color;
	}

	// Icon
	.icon {
		fa-icon {
			width: 16px !important;
			height: 16px !important;
		}
		+ .text {
			margin-left: $spacing;
		}
	}

	// States
    &:focus {
        box-shadow: $shadow-focus;
    }
    &:hover {
		background: mix(white, $primary-color, 10%);
		&.secondary {
			background: mix(white, $secondary-color, 10%);
		}
	}
	&:active {
		box-shadow: $shadow-focus, $shadow-focus-inset;
	}
}