@import "settings";

.button {
	padding: 11px 16px;
	line-height: 16px;
	border: 1px solid darken($primary-color, 10%);
	border-radius: 999px;
	background: $primary-color;
	color: white;
	display: flex;
	align-items: center;
	transition: $transition;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	font-size: $font-size;
	outline: 0;
	white-space: nowrap;
	box-shadow: $shadow-sheen;

	&.small {
		padding: 7px 12px;
		font-size: 12px;
	}
	.text {
		flex: 1;
		display: flex;
		align-items: center;
	}

	&.secondary {
		background: $secondary-color;
		border-color: darken($secondary-color, 10%);
	}

	// Icon
	.icon {
		fa-icon {
			width: 16px !important;
			height: 16px !important;
		}
		+ .text {
			margin-left: $spacing;
		}
	}

	// Symbol
	.symbol {
		img {
			height: 16px;
			filter: invert(1);
		}
		+ .text {
			margin-left: $spacing;
		}
	}

	// States
	&:focus {
		box-shadow: $shadow-focus;
	}
	&:hover {
		background: mix(white, $primary-color, 10%);
		box-shadow: $shadow-sheen, $shadow-focus;
		&.secondary {
			background: mix(white, $secondary-color, 10%);
		}
	}
	&:active {
		box-shadow: $shadow-sheen, $shadow-focus, $shadow-focus-inset;
	}
}
