<div *ngIf="card">

		
	<!-- Card -->
	<article class="card-detail flex z-2" *ngIf="card">
		
		<div class="max flex width-12">

			<div class="flex padded-2">

				<!-- Card image -->
				<figure class="card-image relative z-2">
					<div class="card-image-inner">
						<img
							src="{{card.image}}"
							class="img-card-image"
							[class.active]="cardImageHover"
							(click)="cardImageHover = !cardImageHover" />
						<img
							src="{{card.image_high_res}}"
							class="img-card-image-hover"
							[class.active]="cardImageHover"
							(click)="cardImageHover = !cardImageHover" />
					</div>

					<div class="card-artist">
						<div class="subheading">Illustrated by</div>
						<a [routerLink]="card.artist">
							{{card.artist}}
						</a>
					</div>
				</figure>

				<div class="relative z-1">
					<div class="flex padded vertical">

						<!-- Card header -->
						<div class="card-header">
							<div class="flex flex-center flex-wrap padded">
								<div class="card-name box">
									<h2>{{card.name}}</h2>
								</div>
								<div class="flex padded flex-center" *ngIf="card.hp">
									<div class="card-hp">
										<span>HP</span>{{card.hp}}
									</div>
									<div class="card-types">
										<div *ngFor="let type of card.types">
											<mb-type-tag [type]="type"></mb-type-tag>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card-rarity flex" *ngIf="tagRarity">
							<mb-tag [tag]="tagRarity"></mb-tag>
						</div>
						
						<div class="card-expansion">
							<!-- <a [routerLink]="card.expansion.route">
								<img *ngIf="card.expansion.name !== 'Base'" src="{{card.expansion.symbol}}" />
								<div>{{card.expansion.name}}

									<span class="card-number subheading">
										{{card.number}}/{{card.expansion.total_cards}}
									</span>
								</div>
							</a> -->
							<mb-expansion-item-grid [size]="'small'" [expansion]="card.expansion"></mb-expansion-item-grid>
						</div>

						<div *ngIf="buttonTCGPlayer">
							<mb-button [button]="buttonTCGPlayer"></mb-button>
						</div>
						<div *ngIf="buttonEbay">
							<mb-button [button]="buttonEbay"></mb-button>
						</div>
						
						<div *ngIf="card.pokemon" class="flex">
							<a
								[routerLink]="card.pokemon.variant.route"
								class="card-pokemon hover round {{card.pokemon.variant.types[0]}}">
								<div class="flex flex-center">
									<div class="image-wrapper">
										<img
											class="shadow"
											*ngIf="card.is_shiny"
											[src]="card.pokemon.variant.sprites.shiny" />
										<img
											class="shadow"
											*ngIf="!card.is_shiny"
											[src]="card.pokemon.variant.sprites.default" />
										<img
											class="pokeball"
											src="/assets/pokeball.png" />
									</div>
									<div class="padding-right-2 pokemon-name-number">
										<div class="flex vertical">
											<div class="pokemon-name bold">
												{{card.pokemon.name}}
											</div>
											<div class="pokemon-number subheading opacity-5">
												#{{card.pokemon.national_dex_number}} -
												<span class="pokemon.region">
													{{card.pokemon.generation.region}}
												</span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				
			</div>

		</div>
		
	</article>

	<div class="flex vertical relative z-1">
		<div>
			<mb-items
				[items]="relatedCards"
				(outputGetItems)="getRelatedCards()"
				(outputDisplayModeChanged)="getRelatedCards()">
			</mb-items>
		</div>
		<div>
			<mb-items
				[items]="expansionCards"
				(outputGetItems)="getExpansionCards()"
				(outputDisplayModeChanged)="getExpansionCards()">
			</mb-items>
		</div>
	</div>

</div>