@import "settings",
		"scaffold/typography",
		"rotomdex";

.card-detail {
    .card-image-wrapper {
		z-index: 2;
		&.active {
			.img-card-image {
				opacity: 0;
			}
			.card-image-inner {
				&:after {
					display: none;
				}
			}
		}
		.img-card-image {
			max-width: 300px;
			cursor: zoom-in;
			display: block;
			opacity: 1;
			&:hover {
				box-shadow: $shadow-focus;
			}
            @media (max-height: $screen-small + 40px) {
				opacity: 1 !important;
				cursor: default;
            }
            @media (max-width: $screen-medium) {
                margin-left: auto;
                margin-right: auto;
            }
		}
    }
}
.card-energies {
	.card-energy {
		width: 24px;
		height: 24px;
		margin-top: 1px;
		border-radius: 50%;
		border: $border;
		transition: $transition;
		cursor: pointer;
		&:hover {
			box-shadow: $shadow-focus, $shadow-sheen;
			border-color: $primary-color;
		}
		.card-energy-inner {
			border-radius: 50%;
			box-shadow: $shadow-sheen;
		}
		@each $type, $color in $poke-types {
			&.#{$type} {
				background: $color;
			}
		}
	}
	img {
		width: 23px;
		height: 23px;
		display: block;
		border-radius: 50%;
		box-shadow: $shadow;
	}
}